In [106]:
import pandas as pd
import numpy as np
import math
from sklearn import svm
from sklearn import preprocessing
from sklearn.impute import SimpleImputer
from sklearn.metrics import roc_auc_score

##init X train         
X = pd.read_csv("train_features.csv")

##init y train
y = pd.read_csv("train_labels.csv")

##init X train
X_test = pd.read_csv("test_features.csv")

##rearange 12 samples to one, because it's a time series
def widen(X, time_series_amount):
    return pd.DataFrame(data=X.values.reshape(int(X.shape[0] / time_series_amount), X.shape[1] * time_series_amount))

def fill_time_series(X, time_series_amount):
    
    median = X.median()   
    
    X_filled = pd.DataFrame(columns=X.columns)
    for i in range(0, X.shape[0], time_series_amount):
         series = X.iloc[i:i + time_series_amount,:].mean()
         X_filled_12 = X.iloc[i:i + time_series_amount,:].fillna(series)
         X_filled = X_filled.append(X_filled_12)
        
    return X_filled.fillna(median)

def drop_features(X, featureNames):
    return X.drop(featureNames, axis = 1)
    

    
def train_model_GB()
    gb = ensemble.GradientBoostingClassifier(random_state = 0)
    

##sometimes overflows
def sigmoid(x):
    sig = (1 / (1 + np.exp(-x)))
    return sig

sigmoid_v = np.vectorize(sigmoid)

In [113]:
arr1 = pd.DataFrame(data=np.array([[np.nan,np.nan,np.nan],[np.nan,1,3],[np.nan,np.nan,3],[np.nan,2,3],[np.nan,2,3],[1,2,3]]), columns=["a","b","c"])
arr1

     a    b    c
0  NaN  NaN  NaN
1  NaN  1.0  3.0
2  NaN  NaN  3.0
3  NaN  2.0  3.0
4  NaN  2.0  3.0
5  1.0  2.0  3.0

In [117]:
arr1.drop(["b"], axis=1)

     a    c
0  NaN  NaN
1  NaN  3.0
2  NaN  3.0
3  NaN  3.0
4  NaN  3.0
5  1.0  3.0

In [118]:
arr1

     a    b    c
0  NaN  NaN  NaN
1  NaN  1.0  3.0
2  NaN  NaN  3.0
3  NaN  2.0  3.0
4  NaN  2.0  3.0
5  1.0  2.0  3.0

In [89]:
time_series_amount = 2
X = X.copy()
for i in range(0, X.shape[0], time_series_amount):
        series = X.iloc[i:i + time_series_amount,:].mean()
        X.iloc[i:i + time_series_amount,:].fillna(series)

In [96]:
series = X.iloc[0:0 + time_series_amount,:].mean()
series

a    NaN
b    2.0
c    3.0
dtype: float64

In [97]:
X.iloc[0:0 + time_series_amount,:].fillna(series)

    a    b    c
0 NaN  2.0  3.0
1 NaN  2.0  3.0